<%=provide(:title, 'Your Needs') %>
<div class="index_page">
  <div class="container"> 
    <div class="span12">
      <div class="title_tag">
        <%=image_tag("title241x40.png") %>
      </div>
      <div class="title_line">
        <%=yield(:title) %>
      </div>
      <div class="workdesk_parts">
      
        <%= render :partial =>'staticpage/searchneed' %>
          <div class="span7 offset2">
            <% if @needs.blank? %>
                No records Found.....
            <% else %>
              <% for need in @needs %>
              <table class="search_need_data">
                <tr>
                  <td><ul><li><b><font color="orange"><%= need.orgname %></font></b>
                    <table>
                  <tr><td><%= "Contact no" %></td><td>:  </td><td><%= need.contactno %></td></tr>
                  <tr><td><%= "Address" %></td><td>:  </td><td><%= need.address %></td></tr>
                  <tr><td><%= "category" %></td><td>:  </td><td><%= need.category %></td></tr>
                  <tr><td><%= "city" %></td><td>:  </td><td><%= need.city %></td></tr></table></li></ul></td>
                </tr>
                <hr>
              </table>
              <% end %>
            <% end %>
          </div>
      
      </div>
    </div>
  </div>
</div>
