<%=provide(:title, 'Your Needs') %>
<div class="index_page">
  <div class="container"> 
    <div class="span12">
      <div class="title_tag">
        <%=image_tag("title241x40.png") %>
      </div>
      <div class="title_line">
        <%=yield(:title) %>
      </div>
      <div class="workdesk_parts">
      
        <%= render :partial =>'staticpage/searchneed' %>

        <% if @needs.blank? %>
            Select city (Eg. kanpur, varanasi etc.)
        <% else %>
        <% for need in @needs %>
          <li><%= need.category %></li>

        <% end %>
        <% end %>
        
      
      </div>
    </div>
  </div>
</div>
