.spa3
	-if user_signed_in?
		.members_area
			%strong Welcome,
			.signup_button
				= current_user.fname
				= current_user.lname
		.members_area
			%strong Your Earnings :
			.signup_button
				= current_user.fname
				= current_user.lname
		.members_area
			.signup_button
				=link_to "Go to Workdesk",'Workdesk#index'
	-else
		-if client_signed_in?
			.members_area
				%strong Welcome,
				.signup_button
					= current_client.fname
					= current_client.lname
			.members_area
				.signup_button
					=link_to "Go to Clientdesk",'client#index'
		-else
			%form 
				.members_area
					%strong Members Area
					%br
					.btn.btn-inverse.btn-primary.signup_button
						=link_to "Sign in Here",new_user_session_path

				.members_area
					%strong New user ?
					%br
					.btn.btn-inverse.btn-primary.signup_button
						=link_to "Click Here to Register", new_user_registration_path
					

				.members_area
					%strong Client Area  
					%br
					.btn.btn-inverse.btn-primary.signup_button
						=link_to "Sign in Here",new_client_session_path
	.members_area
		%strong Catch Add-Live on Facebook
	= render :template => "staticpage/social"