<label class="heading_lable">Points Earn</label>

<% @ref_points = 0 %>
<% if !@refer_list.blank? %>
	<% for i in @refer_list %>
		<% if i.packagetype == "Silver" %>
			<% @ref_points=@ref_points+100 %>
		<% end %>

		<% if i.packagetype == "Gold" %>
			<% @ref_points=@ref_points+200 %>
		<% end %>

		<% if i.packagetype == "Platinum" %>
			<% @ref_points=@ref_points+300 %>
		<% end %>
	<% end %>
<% else %>
no refer
<% end %>	
<table class="table">
	<tr>
	<td>
<%= "Total Ads Points" %></td><td>
<%= number_with_precision(@total_ads_points) %> 
	</td></tr>
	<tr>
	<td>
<%= "Total Referal points" %></td><td>
<%= @ref_points %>
	</td></tr>
	<tr>
	<td><strong>
<%= "Total Earned points" %></td><td>
<% @total_earned_points = @ref_points + @total_ads_points %>
<strong><%= number_with_precision(@total_earned_points) %>
	</td></tr>
	<tr>
	<td>
<%= "Paid Points" %></td><td>
<%= @paid_points %> 
<div class ="req">
		<%= link_to "History", workdesk_paid_history_path %> </div>
	</td></tr>

	<tr>
	<td>
<strong><%= "Balance Points" %></td><td>
<% $balance_points = @total_earned_points - @paid_points - @req_points %> 
<strong><%= number_with_precision($balance_points) %> 
	<% if $balance_points >= 500 %> 
	<div class ="req">
		<%= link_to "Request", workdesk_create_request_path %> </div>
	<% end %>
	</td></tr>

	<tr>
	<td>
<%= "Request Points" %></td><td>
<%= @req_points %> 
	</td>
	</tr>
</table>
