<%=provide(:title, 'My Workdesk') %>
<div class="index_page">
	<div class="container">	
		<div class="span9">
			<div class="title_tag">
				<%=image_tag("title241x40.png") %>
				
			</div>
			<div class="title_line">
				<%=yield(:title) %>
			</div>
			<% if current_user.frenchise == true %>

				<div class="workdesk_parts">	
					<div class="tabbable"> <!-- Only required for left/right tabs -->
					  <ul class="nav nav-tabs">
					    <li class="active"><a href="#tab1" data-toggle="tab">Ads</a></li>
					    <li><a href="#tab2" data-toggle="tab">Earning</a></li>
					    <li><a href="#tab3" data-toggle="tab">Referrals</a></li>
					    <li><a href="#tab4" data-toggle="tab">My Profile</a></li>
					    <li><a href="#tab5" data-toggle="tab">Used Pins</a></li>
					    <li><a href="#tab6" data-toggle="tab">Unused Pins</a></li>
					  </ul>

					  <div class="tab-content">
					    <div class="tab-pane active" id="tab1">
					      <%= render :template => 'workdesk/ads_list' %>
					    </div>
					    <div class="tab-pane" id="tab2">
					     
					    </div>
					    <div class="tab-pane" id="tab3">
					     
					    </div>
					    <div class="tab-pane" id="tab4">
					      <%= render :template => 'workdesk/profile' %>
					    </div>
					    <div class="tab-pane" id="tab5">
					       <%= render :template => 'workdesk/used_pin' %>
					    </div>
					    <div class="tab-pane" id="tab6">
					       <%= render :template => 'workdesk/unused_pin' %>
					    </div>

					  </div>
					</div>
				</div>

				
			<% else %>
				<div class="workdesk_parts">	
					<div class="tabbable"> <!-- Only required for left/right tabs -->
					  <ul class="nav nav-tabs">
					    <li class="active"><a href="#tab1" data-toggle="tab">Ads</a></li>
					    <li><a href="#tab2" data-toggle="tab">Earning</a></li>
					    <li><a href="#tab3" data-toggle="tab">Referrals</a></li>
					    <li><a href="#tab4" data-toggle="tab">My Profile</a></li>
					  </ul>

					  <div class="tab-content">
					    <div class="tab-pane active" id="tab1">
					      <%= render :template => 'workdesk/ads_list' %>
					    </div>
					    <div class="tab-pane" id="tab2">
					      <%= render :template => 'workdesk/earn' %>
					    </div>
					    <div class="tab-pane" id="tab3">
					      <%= render :template => 'workdesk/refer' %>
					    </div>
					    <div class="tab-pane" id="tab4">
					      <%= render :template => 'workdesk/profile' %>
					    </div>

					  </div>
					</div>
				</div>
			<% end %>

			
		</div>
	</div>
</div>
