<label class="heading_lable">My Profile</label>

<table class="table table-hover">
 <tr><td><strong>User name</strong></td>
 	<td><%= current_user.username %></td></tr>
 <tr><td><strong>Package Type</strong></td>
 	<td><%= current_user.packagetype %></td></tr>
 <tr><td><strong>First name</strong></td>
 	<td><%= current_user.fname %></td></tr>	
 <tr><td><strong>Last Name</strong></td>
 	<td><%= current_user.lname %></td></tr>
 <tr><td><strong>Email ID</strong></td>
 	<td><%= current_user.email %></td></tr>
 <tr><td><strong>Address</strong></td>
 	<td><%= current_user.address %></td></tr>
 <tr><td><strong>City</strong></td>
 	<td><%= current_user.city %></td></tr>
 <tr><td><strong>State</strong></td>
 	<td><%= current_user.state %></td></tr>
 <tr><td><strong>PIN code</strong></td>
 	<td><%= current_user.pincode %></td></tr>
 <tr><td><strong>Name of Bank</strong></td>
 	<td><%= current_user.nameofbank%></td></tr>
 <tr><td><strong>Account no.</strong></td>
 	<td><%= current_user.accountno %></td></tr>
 <tr><td><strong>IFSC code</strong></td>
 	<td><%= current_user.ifscno %></td></tr>
 <tr><td><strong>PAN no.</strong></td>
 	<td><%= current_user.panno %></td></tr>
</table>


	

