<%=provide(:title, 'My Workdesk') %>
<div class="index_page">
	<div class="container">	
		<div class="span9">
			<div class="title_tag">
				<%=image_tag("title241x40.png") %>
			</div>
			<div class="title_line">
				<%=yield(:title) %>
			</div>
				<div class="workdesk_parts">	
					<div class="tabbable"> <!-- Only required for left/right tabs -->
					  <ul class="nav nav-tabs">
					    <li class="active"><a href="#tab1" data-toggle="tab">My Ads</a></li>
					    <li><a href="#tab2" data-toggle="tab">Profile</a></li>
					   </ul>

					  <div class="tab-content">
					    <div class="tab-pane active" id="tab1">
					      <%= render :template => 'client/ads_list' %>
					    </div>
					    <div class="tab-pane" id="tab2">
					      <%= render :template => 'client/profile' %>
					      
					    </div>
					    

					  </div>
					</div>
				</div>
			
		</div>
	</div>
</div>
