<label class="heading_lable">My Profile</label>

<table class="table table-hover">
 <tr><td><strong>User name</strong></td>
 	<td><%= current_client.username %></td></tr>
 <tr><td><strong>First name</strong></td>
 	<td><%= current_client.fname %></td></tr>	
 <tr><td><strong>Last Name</strong></td>
 	<td><%= current_client.lname %></td></tr>
 <tr><td><strong>Email ID</strong></td>
 	<td><%= current_client.email %></td></tr>
 <tr><td><strong>Address</strong></td>
 	<td><%= current_client.address %></td></tr>
 <tr><td><strong>City</strong></td>
 	<td><%= current_client.city %></td></tr>
 <tr><td><strong>State</strong></td>
 	<td><%= current_client.state %></td></tr>
 <tr><td><strong>PIN code</strong></td>
 	<td><%= current_client.pincode %></td></tr>
 <tr><td><strong>Category</strong></td>
 	<td><%= current_client.category%></td></tr>
 <tr><td><strong>No of Ads</strong></td>
 	<td><%= current_client.adscount %></td></tr>
 
</table>


	

