<!DOCTYPE html>
<html>
<head>
  <title>Add-Live | <%= yield(:title)%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	    <div class="container">

	       	<div class="logoc">
	       		<div class="span3">
		      <%= link_to image_tag("logo.png"), root_path, id: "logo" %>
		    	</div>

			    <div class="span2 offset7">

					  <% if user_signed_in? %>
						<b>
					    	Welcome, <%= current_user.fname %> 
						</b>
					    <div class="header_sign_out">
					    	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
						</div>
					  <% else %>
					  	<% if client_signed_in? %>
						<b>
					    	Welcome, <%= current_client.fname %> 
						</b>
					    <div class="header_sign_out">
					    	<%= link_to "Sign out", destroy_client_session_path, :method => :delete %>
						</div>
					  <% else %>
					    <b>Welcome, Guest</b>
					    <% end %> <p>
					  <% end %>
						<%= Time.now.strftime("%d-%m-%Y") %>
						


			    </div>
	    	 </div>	
		    </div>
		    
		<div class="container">
		   	<% flash.each do |name,msg| %>
		    	<% content_tag :div ,msg,:id=>"flash_#{name}" %>
		    	<p class="alert"><%= notice %>
 				<%= alert %></p>
		    <% end %>
 			
		</div>
	  
	<div class="container">
	  <div class="navbar sec_nav navbar-inverse">
	  	<div class="navbar-inner">
		    
	      	<ul class="nav">
	      		<li> <%= link_to "Why Add-live", '/whyaddlive', id: "nv_hover" %> </li>
	      		<li class="divider-vertical"></li>
	      		<li> <%= link_to "Vision", '/vision', id: "nv_hover" %> </li>
	      		<li class="divider-vertical"></li>
	      		<li> <%= link_to "About Us", '/about', id: "nv_hover" %> </li>
	      		<li class="divider-vertical"></li>
	      		<li> <%= link_to "Statistics", '#', id: "nv_hover" %> </li>
	      		<li class="divider-vertical"></li>
	      		<li> <%= link_to "Plan", '/plan', id: "nv_hover" %> </li>
	      		<li class="divider-vertical"></li>
	      		<li> <%= link_to "Support", '/support', id: "nv_hover" %> </li>
	      		<li class="divider-vertical"></li>
	      		<li> <%= link_to "Career", '/career', id: "nv_hover" %> </li>
	      		<li class="divider-vertical"></li>
	      		<li> <%= link_to "Search your need", '#', id: "nv_hover" %> </li>
	      		<li class="divider-vertical"></li>
	      		<li> <%= link_to "F.A.Q.", '/faq', id: "nv_hover" %> </li>
	      	</ul>
		    
	    </div>
	  </div>
	</div>
	<div class="container">
      <%= yield %>
     	<footer>
    		<hr></hr>
	    	<p align="center">
	    		Enquiry for Frenchiese mail us at :<font color="blue"><b>addlive.com@gmail.com</b></font>
	    	</p>
	    	<p align="center">
	    		Copyright 2012 Add-live
	    	</p>
    	</footer>
    </div>
</body>
</html>
