<!DOCTYPE html>
<html>
<head>
  <title>Welcome to AddLive</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	    	<div class="logoc">
		      <%= link_to "Add-Live", '#', id: "logo" %>
		    </div>
		    <h6> Where Adds add happiness...</h6>   
	      <nav>
	        <ul class="nav pull-right">
	          
	        </ul>
	      </nav>
	    </div>
	  </div>
	</header>
	<div class="container">
	<div class="navbar sec_nav navbar-inverse">
	  <div class="navbar-inner">
	    
	      <ul class="nav">
	      	<li> <%= link_to "Why Add-live", '#', id: " " %> </li>
	      	<li class="divider-vertical"></li>
	      	<li> <%= link_to "Vision", '#', id: " " %> </li>
	      	<li class="divider-vertical"></li>
	      	<li> <%= link_to "About Us", '#', id: " " %> </li>
	      	<li class="divider-vertical"></li>
	      	<li> <%= link_to "Statistics", '#', id: " " %> </li>
	      	<li class="divider-vertical"></li>
	      	<li> <%= link_to "Plan", '#', id: " " %> </li>
	      	<li class="divider-vertical"></li>
	      	<li> <%= link_to "Suppurt", '#', id: " " %> </li>
	      	<li class="divider-vertical"></li>
	      	<li> <%= link_to "Search your need", '#', id: " " %> </li>
	      	<li class="divider-vertical"></li>
	      	<li> <%= link_to "Career", '#', id: " " %> </li>
	      	<li class="divider-vertical"></li>
	      </ul>
	    </div>
	  </div>
	</div>
	<div class="container">
      <%= yield %>
     	<footer>
    		<hr></hr>
	    	<p align="center">
	    		Enquiry for Frenchiese mail us at :<font color="blue"><b>addlive.com@gmail.com</b></font>
	    	</p>
	    	<p align="center">
	    		Copyright 2012 Add-live
	    	</p>
    	</footer>
    </div>
</body>
</html>
